@media (max-width: 1000px) {
.icon{
  width: 50%;
}
}

@media (max-width: 670px ){

  body{
    width: 100%;
    margin: 0 auto;
  }

  .hirakawasan{
    width: 100%;
  }

  .maru{
    float: none;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
    
  }
  .top h1{
    font-size: 30px;
    }

    .ofuki{
      width: 100%;
      
    }

   .yama{
      width: 75%;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
      
    }

    .sato{
      width: 75%;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
    }

    .fureai-2{
      width: 100%;
    }

    .house-2{
      width: 100%;
    }

    .hi{
      width: 75%;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
    }
  
  .icon{
    width: 100%;
  }
  
  .icon2{
    width: 100%;
  }

  .content{
    padding : 25px;
  }


}
