@media (max-width: 1000px) {
.icon{
  width: 50%;
}
}

@media (max-width: 670px ){

  body{
    width: 100%;
    margin: 0 auto;
  }

  .hirakawasan{
    width: 75%;
  }

  .maru{
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
    
  }
  .top h1{
    font-size: 30px;
    }

   /* .ofuki-wrapper{
      display:flex;
      flex-direction: column;
    }*/

    .ofuki{
      width: 100%;
      order:2;
    }

   .yama{
      width: 75%;
      margin: 0 auto;
      text-align: center;

     order: 1;
      
    }

    .sato{
      width: 75%;
      margin: 0 auto;
      text-align: center;

    }

    .fureai-2{
      width: 100%;
    }

    .house{
      border-bottom: 1px solid;
        border-color:#C0C0C0;
        padding-bottom: 250px;
        
    }

    .house-2{
      width: 100%;
    }

    .hi{
      width: 75%;
      margin: 0 auto;
      text-align: center;

    }
  
  .icon{
    width: 100%;
  }
  
  .icon2{
    width: 100%;
  }

  .content{
    padding : 50px;
  }


