@media (max-width: 1000px) {
.icon{
  width: 50%;
}
}

@media (max-width: 767px ){

  body{
    width: 100%;
    margin: 0 auto;
  }

  .top-wrapper{
    height: 50%;
  }

  .top{
    padding: 140px 0;
  }

  .first{

    display: flex;
    flex-direction: column;
  }
  


  .hirakawasan{
    width: 75%;
    text-align: center;
    margin: 0 auto;
  }

  .maru{
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
    
  }
  .top h1{
    font-size: 30px;
    }


    .ofuki-wrapper{
      display: flex;
      flex-direction: column;
      padding: 10px 0;
    }
    
    .fureai-wrapper{
      display: flex;
      flex-direction: column;
      padding: 10px 0;
    }
    
    .house-wrapper{
      display: flex;
      flex-direction: column;
      padding: 10px 0;
    }

    .ofuki{
      width: 100%;
      order:2;
    
    }

   .yama{
      width: 75%;
      margin: 0 auto;
      text-align: center;

     order: 1;
      
    }

    .sato{
      width: 75%;
      margin: 0 auto;
      text-align: center;

    }

    .fureai-2{
      width: 100%;
      margin-left: 0px;
      padding-bottom: 25px;
    }


    .house-2{
      width: 100%;
      order:2;
    }

    .hi{
      width: 75%;
      margin: 0 auto;
      text-align: center;
     order: 1;
    }
  
  .icon{
    width: 100%;
  }
  
  .icon2{
    width: 100%;
  }

  .content{
    padding : 50px;
  }




}

